# =====================
# Maven / Java
# =====================
**/target/
*.class
*.jar
*.war
*.ear
*.nar

# =====================
# IDEs
# =====================
.metadata/
**/.idea/
**/.settings/
**/.classpath
**/.project

# =====================
# Logs
# =====================
*.log

# =====================
# OS
# =====================
.DS_Store
Thumbs.db

# =====================
# Env
# =====================
.env

# =====================
# Archives
# =====================
*.zip
*.tar.gz
*.rar